mysql:
  host: localhost
  port: 3306
  database: mydb
  user: root
  pass: password
  loc: Local
  migrate: true

trace:
  exporter: jaeger
  jaeger_endpoint: http://localhost:14268/api/traces

redis:
  is_cluster: false
  cluster:
    urls:
      - "localhost:6379"
    user: ""
    pass: ""
  host: localhost
  port: 6379
  db: 0
  pass: ""

jwt:
  secret_key: "RqdCsdaS6X*!zn]E4rBv" 
  realm: "exapp"
  timeout: 24  # hour

oauth2:
  google:
    client_id: "1234567890"
  apple:
    client_id: "1234567890"

eos:
  node_url: "https://eos.greymass.com"
  payer_account: "your_payer_account"   
  payer_private_key: "your_private_key" 